.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
  }

  .createUserButton {
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--button-hover-bg);
    }
  }
}
